.contactContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    gap: 20px;
}
.contactItem {
    width: 35vw;
}

.contactLeft {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    align-items: center;
    font-size: 2em;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactInput {
    margin-bottom: 1em;
    min-height: 2em;
    width: 100%;
}
.contactInput::placeholder {
    color: var(--navy);
    opacity: 0.5;
}

.contactMessage {
    resize: none;
    margin-bottom: 1em;
    min-height: 2em;
    width: 100%;
}

.contactMessage::placeholder {
    color: var(--navy);
    opacity: 0.5;
}

.contactSubmit {
    border: none;
    width: fit-content;
    height: 30px;
    padding: 5px 12px;
    border-radius: 15px;
    cursor: pointer;
    background: var(--navy);
    color: var(--white);
}

.contactIcons {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    width: fit-content;
}

.contactIcon {
    width: fit-content;
    cursor: pointer;
}
