.contactContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    gap: 20px;
}
.contactItem {
    width: 35vw;
}

.contactLeft {
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    font-size: 2em;
}

.contactForm {
    display: flex;
    flex-direction: column;
    height: 200px;
}
.contactInput {
    height: 2.5em;
    margin-bottom: 1em;
    min-height: 2em;
}

.contactMessage {
    resize: none;
    margin-bottom: 1em;
    min-height: 2em;
}

.contactIcons {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    width: fit-content;
}

.contactIcon {
    width: fit-content;
}
