.projectThumbnail {
    padding-bottom: 60px;
}

.thumbNailsContents {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* align-items: center; */
    /* justify-items: center; */
    /* justify-content: center; */
    /* width: 70vw; */
}

.thumbNailItem {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    /* justify-items: center; */
    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
}
.thumbNailItem img {
    transition: 0.3s ease-in-out;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.thumbNailItem img:hover {
    transform: scale(1.3);
    transform-origin: 0% 50%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.thumbNailItem_desc {
    padding: 5px;
    text-align: left;
}
.thumbNailItem_desc > div {
    font-weight: 500;
    font-size: 1.2em;
    padding-bottom: 3px;
}

.thumbNailBtn {
    position: absolute;
    bottom: -60px;
    right: 0;
    border: none;
    width: fit-content;
    height: 30px;
    padding: 5px 12px;
    border-radius: 15px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    justify-self: end;
    background: var(--navy);
    color: var(--white);
    cursor: pointer;
}
