.thumbNailsContents {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 70vw;
    height: 0;
    padding-bottom: 17vw;
    border: 1px solid var(--red);
    gap: 10px;
}

.thumbNailItem {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 180px;
    border: 1px solid tomato;
    background: darkgray;
    transition: 0.4s ease-in-out;
}

.thumbNailItem:not(:last-child):hover {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.thumbNailBtn {
    position: absolute;
    bottom: -50px;
    right: 0;
    border: none;
    width: fit-content;
    height: 30px;
    padding: 5px 12px;
    border-radius: 15px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    justify-self: end;
    background: var(--navy);
    color: var(--white);
    cursor: pointer;
}
