.skillsContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    width: 70vw;
    place-items: center center;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 1px solid var(--gray); */
}

.skillsContent img {
    /* border: 1px solid var(--gray); */
    /* width: 10vw; */
    max-width: 120px;
    justify-self: center;
}
